################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects-Data/__pycache__/MongoDbConnector.cpython-39.pyc
